body {
    font-family: 'Noto Sans', sans-serif;

    height: 100vh;
    margin: 0;

    & header>div>p {
        margin: 0;
        padding: 10px;
    }

}

#backImg {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*: url(../img/people-fun.jpg);

    background-repeat: no-repeat;

    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1));
*/

    background-repeat: no-repeat;

    /* Fallback */
    background-image: url('../img/people-fun.jpg');

    /* CSS gradients */
    background-image: url('../img/people-fun.jpg'),
        -moz-linear-gradient(top, white, white);
    background-image: url('../img/people-fun.jpg'),
        -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
    background-image: linear-gradient(to top, rgba(255,255,255,0) 85%, rgba(255,255,255,1)), url('../img/people-fun.jpg');

    background-size: cover;
    background-position: 0 480px;
}

button:hover {
    cursor: pointer;
}

#mainCard {
    background-color: white;
    margin: 50px auto;
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;

    & #joke {
        padding: 10px;
        min-height: 50px;
    }

    & #rating {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        & p {
            padding: 0;
            margin: 0;
        }

        & #ratingBtns {
            width: 60%;
            display: flex;
            justify-content: space-evenly;

            & button {
                border-radius: 50%;
                margin: 30px 0;
                padding: 20px;
                height: 100px;
                width: 100px;
                border: 0;
                font-weight: 800;
            }

            #rate1 {
                background-color: red;
            }

            #rate2 {
                background-color: yellow;
            }

            #rate3 {
                background-color: green;
            }

        }
    }

    & #jokeBtn {
        background-color: rgb(102, 208, 232);
        padding: 15px 30px;
        border: 0;
        border-radius: 10px;
        color: white;
    }
}