@import './backGroungImages';
@import './config';
@import './heather';
@import './jokeCard';

body {
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;

    & header>div>p {
        margin: 0;
        padding: 10px;
    }
}